{% extends "golf_contest/base.html" %}

{% block content %}
{% load golftags %}
<div class="container-fluid" style="max-width:800px">
<div class="row pt-2">
  <h4>{{ tournament }}</h4>
    <p>{{ tournament.start_date }}</p>
</div>
<div class="row pt-2">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'standings' pk=pk %}">Standings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'leaderboard' pk=pk %}">Leaderboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>
</div>
  <table id="standingsTable" class="display" style="width:100%">
    <thead>
      <tr>
        <th></th>
        <th>PLACE NO TIES</th>
        <th>Place</th>
        <th>Name</th>
        <th>Participant</th>
        <th class="text-center">Raw Score</th>
        <th class="text-center">Bonuses</th>
        <th class="text-center">Team Score</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams %}
        <!-- <tr class="table-row" data-child-value=
          "<tr class='table-row'>{% for golfer in team.golfers.all %}<td>{{ golfer.name }}</td>{% endfor %}</tr>
          <tr class='table-row'>{% for golfer in team.golfers.all %}<td>{{golfer.score_to_par}}</td>{% endfor %}</tr>"
        > -->
        <tr class="table-row" data-child-value=
          "<tr><th>Golfer</th><th>Score</th></tr>{% for golfer in team.golfers.all %}<tr class='table-row'><td>{{ golfer.name }}</td><td>{{golfer.score_to_par}}</td></tr>{% endfor %}"
        >
          <td class="details-control"></td>
          <td class="text-center">{{ team.place }}</td>
          <td class="text-center">{{ team.place_with_ties }}</td>
          <td>{{ team.name }}</td>
          <td>{{ team.user.email }}</td>
          <td class="text-center">{{ team.raw_score|golf_score }}</td>
          <td class="text-center">{{ team.bonuses|golf_score }}</td>
          <td class="text-center"><strong>{{ team.score|golf_score }}</strong></td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th>PLACE NO TIES</th>
        <th>Place</th>
        <th>Name</th>
        <th>Participant</th>
        <th class="text-center">Raw Score</th>
        <th class="text-center">Bonuses</th>
        <th class="text-center">Team Score</th>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}

{% block script %}
<script>
  function format(value) {
    return value;
  }
  $(document).ready(function () {
    var table = $('#standingsTable').DataTable({
      responsive: {
        details: false,
      },
      order: [[2, 'asc']],
      paging: false,
      columnDefs: [
        { orderable: false, targets: [0] },
        { visible: false, searchable: false, targets: [1] },
        { orderData: [1], targets: [2] },
        { responsivePriority: [1], targets: [-1] },
        { responsivePriority: [2], targets: [2] },
      ],
    });

    $('#standingsTable').on('click', 'td.details-control', function () {
      var tr = $(this).closest('tr');
      var row = table.row(tr);

      if (row.child.isShown()) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
      } else {
        // Open this row
        row.child(format(tr.data('child-value'))).show();
        tr.addClass('shown');
      }
    });
  });
</script>
{% endblock %}
