{% extends "golf_contest/base.html" %} {% block content %}

<h1>Standings</h1>

<table id="standingsTable" class="display" style="width: 100%">
  <thead>
    <tr>
      <th>Place</th>
      <th>Name</th>
      <th>Participant</th>
      <th>Raw Score</th>
      <th>Bonuses</th>
      <th>Team Score</th>
    </tr>
  </thead>
  <tbody>
    {% for team in teams %}
    <tr class="table-row">
      <td>{{ team.place }}</td>
      <td>{{ team.name }}</td>
      <td>{{ team.user.email }}</td>
      <td>{{ team.raw_score }}</td>
      <td>{{ team.bonuses }}</td>
      <td>{{ team.score }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>Place</th>
      <th>Name</th>
      <th>Participant</th>
      <th>Raw Score</th>
      <th>Bonuses</th>
      <th>Team Score</th>
    </tr>
  </tfoot>
</table>

{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    $('#standingsTable').DataTable({
      order: [[5, 'asc']],
    });
  });
</script>
{% endblock %}
