body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}
.navbar {
  background: #04581a;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}
.table-row {
  font-size: 12px;
}

td.details-control {
  background: url('http://www.datatables.net/examples/resources/details_open.png')
    no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('http://www.datatables.net/examples/resources/details_close.png')
    no-repeat center center;
}
